@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
    /* Prevent swipe-to-back and pull-to-refresh on mobile */
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-red-600 transition-colors;
}

/* Card Glow Effects */
.card-glow-red {
  box-shadow: 0 0 15px rgba(220, 38, 38, 0.3);
}

.card-glow-gold {
  box-shadow: 0 0 20px rgba(234, 179, 8, 0.4);
}

/* Rarity Styles (Halos) */
.rarity-border-cu {
  border-color: #e5e7eb !important;
  box-shadow: 0 0 10px rgba(229, 231, 235, 0.2);
}

.rarity-border-r {
  border-color: #3b82f6 !important;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.4), inset 0 0 10px rgba(59, 130, 246, 0.2);
}

.rarity-border-sr {
  border-color: #a855f7 !important;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.5), inset 0 0 12px rgba(168, 85, 247, 0.3);
}

.rarity-border-ur {
  border-color: #991b1b !important;
  box-shadow: 0 0 30px rgba(153, 27, 27, 0.6), inset 0 0 15px rgba(153, 27, 27, 0.4);
}

.rarity-border-pr {
  border-color: #fbbf24 !important;
  box-shadow: 0 0 25px rgba(251, 191, 36, 0.5), inset 0 0 12px rgba(251, 191, 36, 0.3);
}

.rarity-border-ser {
  border-color: transparent !important;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.rarity-border-ser::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 2.5px;
  background: linear-gradient(45deg,
      #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff, #ff00ff, #ff0000);
  background-size: 300% 300%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  animation: rotate-gradient 4s linear infinite;
  filter: brightness(1.5) contrast(1.1) saturate(1.4);
}

@keyframes rotate-gradient {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(242, 125, 38, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(242, 125, 38, 0.4);
}